language: php

php:
 - 7.0
 - 7.1
 - 7.2
 - 7.3
 - hhvm
 - nightly

before_script:
 - composer self-update
 - composer install --prefer-source --no-interaction --dev

script:
 - phpunit --coverage-text

matrix:
 allow_failures:
  - php: hhvm
  - php: nightly
